accessToken=
pages=
# jdbc:mysql://<ip-address>:3306/<database>
dbUrl=
dbUser=
dbPass=
# since=2015-10-20T00:00:00
since=
until=
collectOnce=false
collectComments=false
collectJson=false
jsonDir=
pageCrawl=false
postCrawl=false